<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false"/>
    </settings>
    <typeAliases>
        <typeAlias type="model.domain.Professor" alias="Professor" />
        <typeAlias type="model.domain.Schedule" alias="Schedule" />
        <typeAlias type="model.domain.ScheduleCategory" alias="ScheduleCategory" />
        <typeAlias type="model.domain.Interview" alias="Interview" />
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="oracle.jdbc.driver.OracleDriver" />
                <property name="url" value="jdbc:oracle:thin:@dblab.dongduk.ac.kr:1521/orclpdb" />
                <property name="username" value="dbp240207" />
                <property name="password" value="120119" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
<!--        <mapper resource="model/dao/mybatis/mapper/CommunityMapper.xml" />-->
        <mapper class="model.dao.mybatis.mapper.ProfessorMapper" />
        <mapper class="model.dao.mybatis.mapper.ScheduleMapper" />
        <mapper class="model.dao.mybatis.mapper.ScheduleCategoryMapper" />
        <mapper class="model.dao.mybatis.mapper.InterviewMapper" />
    </mappers>
</configuration>