.editSchedule-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 배경을 반투명하게 */
    align-items: center;
    justify-content: center;
    z-index: 1000;

}

.modal-content {
    background-color: white;
    border-radius: 15px;
    width: 500px;
}

#editSchedule-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px;
}

#editSchedule-form input {
    outline: none;
    border: none;
}

#editSchedule-form label, #editSchedule-form p {
    font-size: 0.8vw;
}

#edit-title {
    font-size: 1.3vw;
    padding: 5px 0 ;
    font-weight: bolder;
    border-bottom: 1px solid #969696;
}

#edit-title::placeholder {
    font-weight: normal;
    color: #969696;
}

#edit-title:focus {
    border-bottom: 1px solid #969696 !important;
}

.edit-date label {
    font-size: 1vw;
}

input[type="datetime-local"] {
    font-size: 0.8vw;
    padding: 3px 5px;
    width: 65%;
    color: #969696;
    cursor: pointer;
    border-bottom: 1px solid #969696;
}

.edit-place {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
    width: 100%;
    margin-top: 20px;
}

.edit-place img {
    width: 1vw; height: 1vw;
    margin: 0;
}

.edit-place input {
    margin: 0;
    width: 100%;
    padding: 3px 5px;
    font-size: 1vw;
}

.edit-place input::placeholder {
    color: #969696;
}

.edit-place input:focus {
    border-bottom: 1px solid #969696 !important;
}

.edit-category {
    margin-top: 10px;
}

.edit-category input {
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 0.8vw;
}

.edit-memo textarea {
    resize: none;
    width: 100%;
    height: 150px;
    padding: 15px;
    margin-top: 10px;
    border: none;
    background-color: #fafafa;
}

.edit-memo textarea:focus {
    outline: none;
}

.edit-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}

button[type="submit"] , .edit-button input[type="button"] {
    border: none;
    background-color: #fff;
    font-size: 1vw;
    margin-top: 30px;
    padding-top: 20px;
    cursor: pointer;
}

