body {
    font-family: 'Arial', sans-serif;
    color: #333;
}

.main {
    display: flex;
    padding: 20px;
    justify-content: center;
}

.sidebar {
    width: 20%;
}

.sidebar .profile {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.sidebar .profile img {
	border: 1px solid #ddd;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.sidebar .pending-meetings, .scheduled-meetings {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 20px;
}

.sidebar h3 {
    margin-top: 10px;
    font-size: 18px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.calendar-container {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px;
}
