body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    text-align: center;
    padding: 20px;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.images {
    display: flex;
    justify-content: center;
    gap: 0px;
    margin-bottom: 20px;
    width: 200px;
}

.icon1 {
    width: 20vw;
    height: 20vh;
    margin-top: 150px;
    padding: 0;
}

.icon2 {
	width: 25vw;
    height: 25vh;
}

.icon3 {
    width: 23vw;
    height: 23vh;
    margin-top: 100px;
}

.description {
    font-size: 1.5vw;
    line-height: 1.5;
}

.title {
    font-size: 2vw;
    color: #8b2942;
    margin: 10px 0;
}

.bottom {
	background-color: #8b2942;
	height: 20vh;
	display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: #770421;
    color: white;
    border: none;
    padding: 1vh 1.5vw;
    font-size: 2vw;
    border-radius: 15px;
    cursor: pointer;
    margin: 0;  
}

