@charset "UTF-8";
/* 전체 페이지 설정 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

/* 로그인 폼 전체 레이아웃 */
.loginForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;  /* 전체 화면을 채움 */
    position: relative;
}

/* 상단 헤더 바 */
.header-bar {
    width: 100%;
    height: 15vh; /* 화면 높이의 15% */
    background: #8B2942;
    position: absolute;
    top: 0;
}

/* 로그인 박스 */
.login-box {
    width: 500px;  /* 고정된 너비 설정 (500px) */
    height: auto;
    background: #FFFFFF;
    box-shadow: 4px 7px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 로그인 제목 */
.login-title {
    font-weight: 600;
    font-size: 32px;  /* 고정된 폰트 크기 */
    color: #000000;
    margin-bottom: 30px;
}

/* 입력 그룹 */
.input-group {
    margin-bottom: 30px;
    text-align: left;
}

.input-label {
    font-weight: 700;
    font-size: 20px;  /* 고정된 폰트 크기 */
    margin-bottom: 5px;
    display: block;
    color: #000000;
}

.input-field {
    width: 100%;
    height: 40px;
    border: 0.5px solid #969696;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px;  /* 고정된 폰트 크기 */
    color: #B6B6B6;
}

/* 버튼 그룹 */
.button-group {
    margin-top: 40px;
}

.login-button {
    width: 100%;
    height: 50px;
    background-color: #8B2942;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 16px;  /* 고정된 폰트 크기 */
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 15px;
    border: none;
}

.social-login-button {
    width: 100%;
    height: 50px;
    background-color: #FEE500;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;  /* 고정된 폰트 크기 */
    font-weight: 600;
    color: #3C1E1E;
}

.social-login-img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

/* 비밀번호 찾기 */
.forgot-password {
    font-size: 15px;  /* 고정된 폰트 크기 */
    color: #797979;
    margin-top: 20px;
}

/* 회원가입 */
.sign-up {
    font-size: 15px;  /* 고정된 폰트 크기 */
    color: #797979;
    margin-top: 20px;
}

.sign-up-link {
    color: #00A3FF;
    text-decoration: none;
}

.find-password-link {    
    color: #00A3FF;
    text-decoration: none;
}
/* 이메일 그룹 스타일 */
.email-group {
    display: flex;
    align-items: center;
}

.input-field-email {
    width: 70%;
    height: 40px;
    border: 0.5px solid #969696;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
}

.email-domain {
    margin-left: 5px;
    font-size: 16px;
    color: #000000;
}
